<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <brocode_imageoptimizer>
            <webp>
                <enabled>1</enabled>
                <quality>80</quality>
            </webp>
        </brocode_imageoptimizer>
    </default>
</config>
