<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="BroCode\ImageOptimizer\Model\ImageConverterService">
        <arguments>
            <argument name="imageConverter" xsi:type="array">
                <item name="webp" xsi:type="object">BroCode\ImageWebpOptimizer\Model\Converter\WebpImageConverter</item>
            </argument>
            <argument name="imageValidator" xsi:type="array">
                <item name="webp" xsi:type="object">BroCode\ImageWebpOptimizer\Model\Converter\WebpImageConverter</item>
            </argument>
        </arguments>
    </type>
</config>
